### Customer segmentation using KMeans algorithm

In [8]:
# Load the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
import plotly.express as px
from sklearn.preprocessing import StandardScaler


%matplotlib inline

import warnings
warnings.filterwarnings ('ignore')

In [2]:
# load the dataset
cust=pd.read_csv("Cust_Segmentation.csv")

### Pre-processing

In [3]:
cust=cust.drop("Address", axis=1)

In [4]:
# Drop the null values from the customer segmentation dataframe
cust = cust.dropna()

In [5]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
Index: 700 entries, 0 to 849
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Id      700 non-null    int64
 1   Age              700 non-null    int64
 2   Edu              700 non-null    int64
 3   Years Employed   700 non-null    int64
 4   Income           700 non-null    int64
 5   Card Debt        700 non-null    float64
 6   Other Debt       700 non-null    float64
 7   Defaulted        700 non-null    float64
 8   DebtIncomeRatio  700 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 54.7 KB

In [10]:
### Normalizing over the std
X=cust.values[:,1].reshape(-1,1)  # leaves out customer ID
clus_dataset = StandardScaler().fit_transform(X)

### Modeling

In [13]:
clusterNum=3
k_means =KMeans(init="k-means++", n_clusters=clusterNum, n_init=12)
k_means.fit(X)
labels=k_means.labels_

In [14]:
cust['clus_km']= labels

In [15]:
cust.groupby('clus_km').mean()

,Customer Id,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,DebtIncomeRatio
clus_km,,,,,,,,,
0,430.816850,37.410256,1.721612,10.036630,50.402930,1.697952,3.355271,0.186813,10.100733
1,429.372937,27.412541,1.706271,4.772277,29.211221,1.013172,2.069818,0.346535,10.316502
2,432.338710,47.443548,1.766129,13.596774,75.080645,2.556161,4.819298,0.217742,10.475806

Now, let's look at the distribution of customers based on their education, age and income. We can choose to visualise this as a 2D scatter plot with Age on the x-axis, Income on the y-axis and the marker size representing education. The scatter points will be assigned different colors based on different class labels.

In [18]:
area = np.pi * ( X[:, 1])**2  
plt.scatter(X[:, 0], X[:, 3], s=area, c=labels.astype(float), cmap='tab10', ec='k',alpha=0.5)
plt.xlabel('Age', fontsize=18)
plt.ylabel('Income', fontsize=16)
plt.show()

IndexError: index 1 is out of bounds for axis 1 with size 1

In [17]:
fig = px.scatter_3d(X, x=1, y=0, z=3, opacity=0.7, color=labels.astype(float))

fig.update_traces(marker=dict(size=5, line=dict(width=.25)), showlegend=False)
fig.update_layout(coloraxis_showscale=False, width=1000, height=800, scene=dict(
        xaxis=dict(title='Education'),
        yaxis=dict(title='Age'),
        zaxis=dict(title='Income')
    ))  # Remove color bar, resize plot

fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of [0] but received: 1